<p class="loading-indicator" *ngIf="loadingPatients"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading Patients</p>
<table class="table" *ngIf="!loadingPatients">
    <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Member ID</th>
            <th>Phone</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr 
            *ngFor="let patient of patients" 
            [ngClass]="{
                'table-warning': patient.status === 2,
                'table-primary': patient.status === 3,
                'table-success': patient.status === 4
            }"
        >
            <td>
                <span class="report-indicator" [ngClass]="{'no-report': patient.status === 0, 'has-report': patient.status > 0}">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </span>
            </td>
            <td>{{ patient.patientFirstName }}</td>
            <td>{{ patient.patientLastName }}</td>
            <td>{{ patient.patientDateOfBirth | convertDate }}</td>
            <td>{{ patient.memberId }}</td>
            <td>{{ patient.phoneNumber }}</td>
            <td>{{ patient.status | statusToText }}</td>
            <td>
                <span class="log-indicator" (click)="openReportLog(patient)" *ngIf="patient.status > 0">
                    Open Log <i class="fa fa-external-link" aria-hidden="true"></i>
                </span>
            </td>
        </tr>
    </tbody>
</table>